html
  head
    link(href="https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script" rel="stylesheet")
    link(rel="stylesheet" href="app.css")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
  body
    section#main-container
    footer.side-footer
      .container
        .row
          .col.s12.l3.center-align
            a.dropdown-button.btn-btn-flat(href="#", data-activates="dropdown1") Idioma
            ul#dropdown1.dropdown-content
              li
                a(href="#!") Español
              li
                a(href="#!") Inglés
          .col.s12.l3.push-l6.center-align
            | © 2016 Platzigram

    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js')
